.headerContainer {
    overflow: hidden;
    padding: 8vmax 3vmax;

    
}


.fotoContainer{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.textoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principalTitulo {
    font-size: 5vmax;
}

.principalParrafo {
    font-size: 1.5vmax;
}


.foto {
    width: 50%;
}

.flags {
    display: flex;
    justify-content: center;
   gap: 1vmax;
}

.banderas {
    width: 4%;
}

